<div class="mb-5">
    <h1 class="card-title">{{movie.title}}</h1>
    <div class="row col-12">
        <div class="col-md-6">
            <img [src]="movie.poster_path !== null ? 'https://image.tmdb.org/t/p/w300' + movie.poster_path : 'assets/default-img.gif'" class="card-img-top" alt="...">
        </div>
        <div class="col-md-6">
            <h4>Sinopsis</h4>
            <p class="card-text">{{movie.overview}}</p>
            <h4>Genero</h4>
            <ul>
                <li *ngFor="let item of movie.genres">{{item.name}}</li>
            </ul>
            <h5>Popularidad
                <span class="badge badge-primary">{{movie.popularity }}</span>
            </h5>
            <h5>Votos
                <span class="badge badge-primary">{{movie.vote_average}} </span>
            </h5>
            <hr>
            <button class="btn btn-outline-danger">Regresar</button>
        </div>
    </div>
</div>